.single {
  width: 110px;
  height: 150px;
}
.single .img-count {
  width: 110px;
  height: 110px;
  position: relative;
}
.single .img-count img {
  width: 110px;
  height: 110px;
  border-radius: 8px;
}
.single .img-count div {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #d1d1d1;
}
